
Prática 1/Calculator_B/.idea/deploymentTargetSelector.xml
Prática 1/Calculator_B/.idea/AndroidProjectSystem.xml
Prática 1/Calculator_B/.idea/compiler.xml
Prática 1/Calculator_B/.idea/gradle.xml
Prática 1/Calculator_B/.idea/migrations.xml
Prática 1/Calculator_B/.idea/misc.xml
Prática 1/Calculator_B/.idea/runConfigurations.xml
Prática 1/Calculator_B/.idea/vcs.xml
Prática 2/ImcCalculator/.idea/.name
Prática 2/ImcCalculator/.idea/AndroidProjectSystem.xml
Prática 2/ImcCalculator/.idea/compiler.xml
Prática 2/ImcCalculator/.idea/deploymentTargetSelector.xml
Prática 2/ImcCalculator/.idea/deviceManager.xml
Prática 2/ImcCalculator/.idea/gradle.xml
Prática 2/ImcCalculator/.idea/misc.xml
Prática 2/ImcCalculator/.idea/runConfigurations.xml
Prática 2/ImcCalculator/.idea/vcs.xml
Prática 3/.idea/.name
Prática 3/.idea/AndroidProjectSystem.xml
Prática 3/.idea/compiler.xml
Prática 3/.idea/deploymentTargetSelector.xml
Prática 3/.idea/deviceManager.xml
Prática 3/.idea/gradle.xml
Prática 3/.idea/misc.xml
Prática 3/.idea/runConfigurations.xml
Prática 3/.idea/studiobot.xml
Prática 3/.idea/vcs.xml
Prática 3/app/.idea/AndroidProjectSystem.xml
Prática 3/app/.idea/caches/deviceStreaming.xml
Prática 3/app/.idea/gradle.xml
Prática 3/app/.idea/migrations.xml
Prática 3/app/.idea/misc.xml
Prática 3/app/.idea/runConfigurations.xml
Prática 3/app/.idea/vcs.xml
Prática 4/Aplicativo A/.idea/.name
Prática 4/Aplicativo A/.idea/AndroidProjectSystem.xml
Prática 4/Aplicativo A/.idea/compiler.xml
Prática 4/Aplicativo A/.idea/deploymentTargetSelector.xml
Prática 4/Aplicativo A/.idea/gradle.xml
Prática 4/Aplicativo A/.idea/misc.xml
Prática 4/Aplicativo A/.idea/runConfigurations.xml
Prática 4/Aplicativo A/.idea/vcs.xml
Prática 4/Aplicativo B/.idea/.name
Prática 4/Aplicativo B/.idea/AndroidProjectSystem.xml
Prática 4/Aplicativo B/.idea/compiler.xml
Prática 4/Aplicativo B/.idea/deploymentTargetSelector.xml
Prática 4/Aplicativo B/.idea/gradle.xml
Prática 4/Aplicativo B/.idea/misc.xml
Prática 4/Aplicativo B/.idea/runConfigurations.xml
Prática 4/Aplicativo B/.idea/vcs.xml
